@use '../sass/vars';
@use '../sass/mixins';

.formBody {
    margin: 100px auto;
    width: 500px;
    background-color: vars.$formColor;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-flow: column;
    gap: 20px;
    align-items: center;
    color: white;
    text-align: center;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);

    hr {
        width: 90%;
        margin: 0;
    }

    &>div {
        width: 90%;

        label {
            display: inline-block;
            margin-bottom: 5px;
        }

        [type='checkbox'] {
            height: 30px;
        }

        input,
        select {
            border-radius: inherit;
            border: none;
            outline: none;
            padding: 5px;
            width: 100%;
        }

    }

    button {
        border: none;
        outline: none;
        padding: 10px;
        border-radius: 10px;
        color: white;
        background: purple;

        &:hover {
            opacity: 0.8;
            cursor: pointer;
        }

        &.disabled {
            cursor: initial;
            background-color: grey;

            &:hover {
                opacity: 1;
            }
        }
    }
}

.popup {
    text-align: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    @include mixins.flex-center;

    h1 {
        background-color: white;
        color: green;
        width: 90%;
        padding: 5px;

        &.error {
            color: red;
        }
    }
}